.default-search-input {

}

.default-suggestion-dropdown {
    border-top : solid 2px #2196f3 ;
    box-shadow: 0px 1px 7px #888888;
    width : 100% ;
}

.default-suggestion-dropdown-hint {
    font-style: italic;
    color : #B6B6B6 ;
}

.default-suggestion-dropdown-list {

}

.default-stack-item {
    background-color: #2196f3;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 7px #888888;
    padding: 3px;
    width: initial;
    float: left;
    margin-right : 5px ;
    margin-bottom : 5px ;
    cursor: default ;
}

.default-selected-stack-item {
    background-color: #2196f3;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 7px #888888;
    padding: 3px;
    width: initial;
    float: left;
    font-weight: bolder ;
}

.default-stack-item-content {
    float : left ;
}

.default-stack-item-delete-button {
    float: left;
    margin: 4px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FF4081;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: default ;
    box-shadow: 1px 2px 5px #888888;
}

.default-search-edit-input {
    -webkit-appearance: none ;
    border : 0px ;
    outline : none ;
    font-size: 20px;
    line-height : 30px ;
}

.default-search-item-input-container {
    height : 38px ;
    cursor: text ;
}

